<h1>LISTA CLIENTE</h1>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item">ID</li>
    <li class="list-group-item">Nome</li>
    <li class="list-group-item">Email</li>
    <li class="list-group-item">ações</li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">1</li>
    <li class="list-group-item">Cliente 1</li>
    <li class="list-group-item">cliente1gmail.com</li>
    <li class="list-group-item">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-danger">Danger</button>
    </li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">2</li>
    <li class="list-group-item">Cliente 2</li>
    <li class="list-group-item">cliente2gmail.com</li>
    <li class="list-group-item">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-danger">Danger</button>
    </li>
  </ul>
  <ul class="list-group">
  
